<% if current_user.admin && @user != current_user %>
  <%= content_for :title, t('.profile', user: @user.username) %>
  <h2><%= t('.profile', user: @user.username) %></h2>
<% else %>
  <%= content_for :title, t('.change_password') %>
  <h2><%= t('.change_password')  %></h2>
<% end %>
<%= render 'form' %>