<!DOCTYPE html>
<html>
  <head>
    <title><%= ([yield(:title).presence, t('rng_website.adminname')].compact.join(' - ')) %></title>
    <%= stylesheet_link_tag    "admin", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= render_navigation :context => :admin, renderer: :topbar  %>
      </div>
    </div>
  </div>
  <%= display_flash_messages %>
  <%= yield %>

  </body>
</html>
